src/main/resources/se/statenspersonadressregister/xsd/version20160213/SPARPersonCOMPONENT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://skatteverket.se/spar/komponent/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://skatteverket.se/spar/komponent/1.0"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="0_9">
	<xs:annotation>
		<xs:appinfo>
			<SchemaMetadata xmlns="se/skatteverket/zl/SchemaMetadata/1.0"
				xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcq="http://purl.org/dc/terms/"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation="se/skatteverket/zl/SchemaMetadata/1.0 http://xmls.skatteverket.se/se/skatteverket/zl/SchemaMetadata/1.0/SchemaMetadata.xsd ">
				<title>Komponent schema för person information i SPAR</title>
				<description>Komponent schema för person information i SPAR</description>
				<publisher>Skatteverket</publisher>
				<creator>
					<contact>www.skatteverket.se</contact>
				</creator>
				<date>
					<created>2010-10-01</created>
				</date>
			</SchemaMetadata>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:element name="Aviseringsnamn" type="AviseringsnamnTYPE"/>
    <xs:simpleType name="AviseringsnamnTYPE">
        <xs:annotation>
            <xs:documentation>Aviseringsnamn är en av folkbokföringen förkortat version av hela namnet att användas vid utskrift på kuvert etc.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
			<xs:minLength value="1"/>
	    </xs:restriction>
    </xs:simpleType>

    <xs:element name="Efternamn" type="EfternamnTYPE"/>
    <xs:simpleType name="EfternamnTYPE">
        <xs:annotation>
            <xs:documentation>Efternamn max 60 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
		    <xs:maxLength value="60"></xs:maxLength>
		</xs:restriction>
    </xs:simpleType>

    <xs:element name="Fornamn" type="FornamnTYPE"/>
    <xs:simpleType name="FornamnTYPE">
        <xs:annotation>
            <xs:documentation>Förnamn max 80 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
		    <xs:maxLength value="80"></xs:maxLength>
		</xs:restriction>
    </xs:simpleType>

    <xs:element name="Mellannamn" type="MellannamnTYPE"/>
    <xs:simpleType name="MellannamnTYPE">
        <xs:annotation>
            <xs:documentation>Mellannamn max 40 tecken långt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
		    <xs:maxLength value="40"></xs:maxLength>
		</xs:restriction>
    </xs:simpleType>

	<xs:element name="Tillskrift" type="TillskriftTYPE"/>
    <xs:simpleType name="TillskriftTYPE">
        <xs:annotation>
            <xs:documentation>Tillskrift används t.ex. vid adresering av minderåriga: Till vårdnadshavare för</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:element name="Tilltalsnamn" type="TilltalsnamnTYPE"/>
    <xs:simpleType name="TilltalsnamnTYPE">
        <xs:annotation>
            <xs:documentation>Kod för tilltalsnamn, 10 anger att första förnamnet är tilltals namn, 23 anger att andra och tredje förnamnet är tilltalsnamn</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ForMellanEfterNamn" type="ForMellanEfterNamnTYPE"/>
    <xs:complexType name="ForMellanEfterNamnTYPE">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="Fornamn" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Mellannamn" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Efternamn" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="FysiskPersonId" type="FysiskPersonIdTYPE"/>
	<xs:element name="HanvisningsPersonNr" type="HanvisningsPersonNrTYPE"/>
	<xs:element name="HanvisningsPersonNrByttFran" type="HanvisningsPersonNrTYPE"/>
	<xs:element name="HanvisningsPersonNrByttTill" type="HanvisningsPersonNrTYPE"/>
	<xs:simpleType name="FysiskPersonIdTYPE">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
	    <xs:restriction base="xs:string">
	        <xs:length value="12"/>
	        <xs:pattern value="((((18|19|20)[0-9][0-9])(((01|03|05|07|08|10|12)(0[1-9]|1[0-9]|2[0-9]|3[0-1]))|((04|06|09|11)(0[1-9]|1[0-9]|2[0-9]|30))|((02)(0[1-9]|1[0-9]|2[0-8])))|(((18|19|20)(04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)(0229)))|(20000229)))(00[1-9]|0[1-9][0-9]|[1-9][0-9][0-9])[0-9]"/>
	        <xs:pattern value="((((18|19|20)[0-9][0-9])(((00|01|03|05|07|08|10|12)(6[0-9]|7[0-9]|8[0-9]|9[0-1]))|((04|06|09|11)(6[0-9]|7[0-9]|8[0-9]|90))|((02)(6[0-9]|7[0-9]|8[0-8])))|(((18|19|20)(04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)(0289)))|(20000289)))(00[1-9]|0[1-9][0-9]|[1-9][0-9][0-9])[0-9]"/>
	    </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HanvisningsPersonNrTYPE">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
	    <xs:restriction base="xs:string">
	        <xs:length value="12"/>
	        <xs:pattern value="(18|19|20)[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
	    </xs:restriction>
	</xs:simpleType>
	<xs:element name="PersonId" type="PersonIdTYPE"/>
	<xs:complexType name="PersonIdTYPE">
	    <xs:sequence>
	        <xs:element ref="FysiskPersonId" minOccurs="1" maxOccurs="1"/>
	    </xs:sequence>
		<xs:attribute name="nulage" type="NulageTYPE" default="N" /> 
	</xs:complexType>
	
	<xs:simpleType name="NulageTYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="J">
                <xs:annotation><xs:documentation>Nuläge</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
                <xs:annotation><xs:documentation>Ej nuläge</xs:documentation></xs:annotation>
            </xs:enumeration>
        </xs:restriction>
	</xs:simpleType>

	<xs:element name="Fodelsetid" type="FodelsetidTYPE"/>
	<xs:element name="FodelsetidFran" type="FodelsetidTYPE"/>
	<xs:element name="FodelsetidTill" type="FodelsetidTYPE"/>
	<xs:simpleType name="FodelsetidTYPE">
	    <xs:restriction base="xs:date"/>
	</xs:simpleType>
    <xs:element name="AvregistreringsorsakKod" type="AvregistreringsorsakKodTYPE"/>
	<xs:element name="Avregistreringsdatum" type="AvregistreringOfullstandigtDatumTYPE"/>
    <xs:simpleType name="AvregistreringsorsakKodTYPE">
        <xs:annotation>
            <xs:documentation>Avregistreringsorsak</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
        		<xs:annotation>
		        	<xs:documentation>Avliden</xs:documentation>
		        </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="G">
        		<xs:annotation>
		        	<xs:documentation>Gammalt nummer</xs:documentation>
		        </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="O">
        		<xs:annotation>
		        	<xs:documentation>Övrig orsak</xs:documentation>
		        </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AvregistreringOfullstandigtDatumTYPE">
        <xs:annotation>
            <xs:documentation>Används när endast delar av avregistreringsdatum är känt</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

	<xs:element name="Relation" type="RelationTYPE"/>
    <xs:complexType name="RelationTYPE">
        <xs:annotation>
            <xs:documentation>Relations person</xs:documentation>
        </xs:annotation>
        <xs:sequence>
        	<xs:sequence minOccurs="0" maxOccurs="1">
        	    <xs:annotation>
	                <xs:documentation>Datum från och med och datum till skickas när historik används. Datum till 9999-12-31 betyder då att det är en aktuell post.</xs:documentation>
	            </xs:annotation>
            	<xs:element name="DatumFrom" type="xs:date" minOccurs="1" maxOccurs="1"/>
	            <xs:element name="DatumTill" type="xs:date" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:element ref="Relationstyp" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="PersonId" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Fornamn" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Mellannamn" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Efternamn" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Fodelsetid" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="AvregistreringsorsakKod" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Avregistreringsdatum" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Relationstyp" type="RelationstypTYPE">
		<xs:annotation>
			<xs:documentation>Typ av relation</xs:documentation>
		</xs:annotation>
    </xs:element>
    <xs:simpleType name="RelationstypTYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="V">
		<xs:annotation>
			<xs:documentation>Vårdnadshavare</xs:documentation>
		</xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
		<xs:annotation>
			<xs:documentation>Maka/Make/Partner</xs:documentation>
		</xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="SenasteAndringSPAR" type="SenasteAndringSPARTYPE"/>
    <xs:simpleType name="SenasteAndringSPARTYPE">
        <xs:annotation>
            <xs:documentation>Datum för senaste ändring i SPAR</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:element name="SvenskMedborgare" type="SvenskMedborgareTYPE"/>
    <xs:simpleType name="SvenskMedborgareTYPE">
		<xs:annotation>
			<xs:documentation>J=Personen är svensk medborgare, N=Personen är inte svensk medborgare</xs:documentation>
		</xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="J"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="FodelselanKod" type="FodelselanKodTYPE"/>
	<xs:simpleType name="FodelselanKodTYPE">
        <xs:annotation>
            <xs:documentation>Länskod för födelse län</xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:element name="Fodelseforsamling" type="FodelseforsamlingTYPE"/>
	<xs:simpleType name="FodelseforsamlingTYPE">
        <xs:annotation>
            <xs:documentation>Födelseförsamling i fritext</xs:documentation>
        </xs:annotation>
	    <xs:restriction base="xs:string">
		    <xs:maxLength value="30"/>
			<xs:minLength value="1"/>
	    </xs:restriction>
	</xs:simpleType>
	<xs:element name="Sekretessmarkering" type="SekretessmarkeringTYPE">
	</xs:element>
	<xs:simpleType name="SekretessmarkeringTYPE">
		<xs:annotation>
			<xs:documentation>Anger om personen har sekretess markering</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="xs:string">
			<xs:enumeration value="J">
		<xs:annotation>
			<xs:documentation>Personen har sekretess markering</xs:documentation>
		</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
		<xs:annotation>
			<xs:documentation>Personen har inte sekretess markering</xs:documentation>
		</xs:annotation>
			</xs:enumeration>
	    </xs:restriction>
	</xs:simpleType>
	<xs:element name="SekretessAndringsdatum" type="SekretessAndringsdatumTYPE"/>
	<xs:simpleType name="SekretessAndringsdatumTYPE">
		<xs:annotation>
			<xs:documentation>Datum då sekretessmarkering på personen senast ändrades</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="xs:date">
	    </xs:restriction>
	</xs:simpleType>
	<xs:element name="Kon" type="KonTYPE"/>
	<xs:simpleType name="KonTYPE">
		<xs:annotation>
			<xs:documentation>Kön</xs:documentation>
		</xs:annotation>
	    <xs:restriction base="xs:string">
	        <xs:length value="1"/>
	        <xs:enumeration value="M">
		<xs:annotation>
			<xs:documentation>Man</xs:documentation>
		</xs:annotation>
	        </xs:enumeration>
	        <xs:enumeration value="K">
		<xs:annotation>
			<xs:documentation>Kvinna</xs:documentation>
		</xs:annotation>
	        </xs:enumeration>
	    </xs:restriction>
	</xs:simpleType>
</xs:schema>